html, body {
	margin: 0;
	padding: 0;
}

.container {
	width: 85%;
	margin: 0 auto;
}

#header {
	background-color: rgb(67, 128, 95);
	width: 100%;
}

#header .logo {
	min-width: 550px;
	width: 65%;
}

#header #description {
	position: absolute;
	top: 0px;
	right: 7.5%;
	text-align: right;
	width: 30%;
	color: white;
	min-height: 118px;
}

#header #description>h3 {
	margin-top: 10%;
}

#content {
	margin-top: 10px;
}

#content #video {
	width: 100%;
}

#content #chart {
	position: absolute;
	bottom: 20px;
	right: 7.5%;
}

#tools {
	position: fixed;
	bottom: 1%;
	right: 1%;
}

.btn {
	width: 3em;
	height: 3em;
	border: solid 1px #000;
	border-radius: 50%;
	margin: 0.5em 0 0.5em 0;
	cursor: pointer;
}

.green {
	background-color: green;
}

.yellow {
	background-color: yellow;
}